@import url(./reset.css);
@import url(./variables.css);

body {
  background-color: var(--body_color);
  color: var(--text_color);
}

.header {
  text-align: center;
  margin: 1rem;
}

.main_title {
  font-size: 3rem;
}

.score_label {
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#game {
  margin: 0 auto;
  border: 1px solid #fff;
  background-color: #020202;
}

.footer {
  text-align: center;
  font-size: 1.3rem;
  margin: 1rem;
}